.car-details-card{
    max-width:900px;
    margin:auto;
    border:none;
    border-radius:10px;
}

.car-details-card .card-body{
    padding:40px;
}

.car-details-card p{
    font-size:18px;
    margin-bottom:15px;
}

.car-details-card strong{
    display:inline-block;
    width:150px;
}

.btn-warning{
    padding:10px 35px;
}